main {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.filter-row {
    margin-bottom: 15px;
}

.sort-row {
    padding-right: 30px;
}

.filter-row .row .dropdown {
    padding-bottom: 0px;
}

@media (min-width: 577px) {
    .filter-row .row .dropdown {
        padding-bottom: 10px;
    }
}

.bg-light.navbar-filter {
    background-color: transparent!important;
    margin-left: 14px;
    margin-top: 6px;
    margin-bottom: 14px;
}

main .btn {
    margin: auto;
    display: flex;
    justify-content: center;
}

.dropdown-menu.show.price-menu  {
    padding-left: 8px; 
    padding-right: 8px;
}

.filter-only {
    padding-left: 0;
}

.archiv h3 {
    margin-left: 30px;
}

.form-check {
    padding-left: 30px;
    margin-bottom: 4px;
}

.form-check-label {
    margin-left: 5px;
}

.archiv-row {
    margin-left: 0;
    margin-right: 0;
}

.archiv-column {
    margin-bottom: 15px;
}

main {
    margin-bottom: 50px;
}

.dropdown button {
    width: 110px;
}

.card {
    height: 100%;
}

.card h5 {
    font-weight: normal;
    margin-bottom: 5px;
}

.card p {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text:last-child {
    margin-bottom: 10px;
}

.pagination {
    justify-content: center;
}

.page-link {
    color: black;
}