img {
    width: 100%;
}

.filter-container {
    display: flex;
}

.filter-row {
    margin-bottom: 15px;
    padding-left: 15px;
}

.archiv h3 {
    padding-left: 30px;
    margin-bottom: 15px;
}

.form-check {
    padding-left: 30px;
}

.form-check-label {
    margin-left: 5px;
}

.archiv-row {
    margin-left: 0;
    margin-right: 0;
}

.dropdown button {
    width: 120px;
}

.card {
    margin-bottom: 15px;
}

.card h5 {
    font-weight: normal;
    margin-bottom: 5px;
}

.card p {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text:last-child {
    margin-bottom: 10px;
}