@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.icon-header-img {
    width: 30px;
}

.homepage-section {
    margin-top: 30px;
    text-align: center;
}

.occasion-image {
    width: 100%;
}

.container {
    max-width: 100%;
}

/* @media (max-width: 576px) {
    .carousel-inner {
        height: 360px;
        width: 100%;
    }
}

.carousel-inner {
    height: 460px;
    width: 100%;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */


#footer-social {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

footer {
    background-color: gray;
    text-align: center;
}
#footer-slogan {
    padding-top: 10px;
    margin: auto;
    max-width: 70%;
    font-size: 1.3em;
}

.icons-img {
    width: 37px;
    margin: 10px;
}

#footer-container {
    max-width: 500px;
    font-size: 1.3em;
}
footer div h2 {
    margin: 0;
    padding-top: 1.2rem;
}
footer div p {
    margin-bottom: 0;
    padding: 1.2rem;
}
a {
    color: black;
}