
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.user-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.homepage-carousel h1 {
    margin-bottom: 50px;
}

.homepage-section {
    margin-top: 30px;
    text-align: center;
}

.homepage-section img {
    width: 100%;
    border-radius: 6px;
}

.homepage-section h2 {
    margin-bottom: 12px;
}

.homepage-occasion h4 {
    margin-top: 8px;
    margin-bottom: 0;
}

.homepage-products h4 {
    margin-bottom: 12px;
}

.icon-header-img {
    width: 30px;
}

.homepage-occasion .row {
    margin-left: 0;
    margin-right: 0;
}

.occasion-image-middle {
    padding-left: 0;
    padding-right: 0;
}

.container {
    max-width: 100%;
}

@media (min-width: 768px) {
    .carousel .carousel-item {
        height: 450px;
    }
    
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 450px;
        max-width: none;
    }
}


#footer-social {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
}
#footer-slogan {
    padding-top: 10px;
    margin: auto;
    max-width: 70%;
    font-size: 1.3em;
}

.icons-img {
    width: 37px;
    margin: 10px;
}

#footer-container {
    max-width: 500px;
    font-size: 1.3em;
}

footer div h2 {
    margin: 0;
    padding-top: 1.2rem;
}

footer div p {
    margin-bottom: 0;
    padding: 1.2rem;
}

a {
    color: black;
}