
.home {
    text-align: center;
}
img {
    width: 100%;
}
.container {
    max-width: 100%;
}
#footer-social {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

footer {
    background-color: gray;
    text-align: center;
}
#footer-slogan {
    padding-top: 10px;
    margin: auto;
    max-width: 70%;
    font-size: 1.3em;
}
footer img {
    width: 37px;
    margin: 10px;
}

#footer-container {
    max-width: 500px;
    font-size: 1.3em;
}
footer div h2 {
    margin: 0;
    padding-top: 1.2rem;
}
footer div p {
    margin-bottom: 0;
    padding: 1.2rem;
}
a {
    color: black;
}