@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.user-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.icon-header-img {
    width: 30px;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.breadcrumb a {
    color: black;
    font-weight: bold;
}

#footer-social {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
}
#footer-slogan {
    padding-top: 10px;
    margin: auto;
    max-width: 70%;
    /* font-size: 1.3em; */
}

.icons-img {
    width: 37px;
    margin: 10px;
}

#footer-container {
    max-width: 500px;
    /* font-size: 1.3em; */
}

footer div h2 {
    margin: 0;
    padding-top: 1.2rem;
}

footer div p {
    margin-bottom: 0;
    padding: 1.2rem;
}

a {
    color: black;
}