/* zvacsuje vzdialenost medzi nadpismi v navbare*/
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/* nastavenia navbaru*/
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: bold;
}

/* ikonky v hlavicke*/
.user-icon {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    content:url("https://www.flaticon.com/svg/static/icons/svg/929/929564.svg");
}

.shopping-bag-icon {
    width: 30px;
    content:url("https://www.flaticon.com/svg/static/icons/svg/126/126515.svg")
}

/*breadcrumb pouzivany napriklad v archive a v detaile*/
.breadcrumb {
    background-color: transparent;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.breadcrumb a {
    color: black;
    font-weight: bold;
}

/* buttony */
.btn-secondary {
    color: #000;
    background-color: transparent;
    border-color: #6c757d;
    border-radius: 0%;
}

/* farba odkazu */
a {
    color: black;
}

/* v paticke */
.icons-img {
    width: 37px;
    margin: 10px;
}

#footer-social {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
}
#footer-slogan {
    padding-top: 10px;
    margin: auto;
    max-width: 70%;
    /* font-size: 1.3em; */
}

#footer-container {
    max-width: 500px;
    /* font-size: 1.3em; */
}

footer div h2 {
    margin: 0;
    padding-top: 1.2rem;
}

footer div p {
    margin-bottom: 0;
    padding: 1.2rem;
}