section {
    text-align: center;
}

.section-prazdny-kosik {
    min-height: 500px;
}

h1 {
    margin-top: 16px;
}

.section-prazdny-kosik p {
    margin-top: 16px;
}

.button-ponuka-row {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
}

.button-ponuka-row a {
    background-color: transparent;
}

.button-ponuka {
    padding: 10px 26px;
    display: inline-block;
}

